version: '3.7'

services:

  nginx:
    restart: always
    env_file:
      - ./.env
    image: umputun/nginx-le:latest
    volumes:
      - ./service.conf:/etc/nginx/service.conf
    links:
      - backend:backend
      - frontend:frontend
    ports:
      - 80:80
      - 443:443

  backend:
    container_name: backend
    restart: always
    build:
      context: ./backend/
      dockerfile: Dockerfile
    command: uvicorn main:app --host 0.0.0.0 --port 8000
    env_file:
      - .env
    volumes:
      - .:/usr/app
    ports:
      - 8000:8000

  frontend:
    container_name: frontend
    build:
      context: ./frontend/.
    env_file:
      - ./frontend/.env
    ports:
      - 3000:3000
